* {
    margin: 0;
    padding: 0;
    border: 0;
  }

  body {
    background-color: #f2ece4;
}

@font-face {
  font-family: 'VAG Rounded Black SSi';
  src: url(fonts/VAG\ Rounded\ Black\ SSi\ Bold.ttf);
}

@font-face {
  font-family: 'VAG Rounded Lt';
  src: url(fonts/VAGRoundedLtNormal.ttf);
}

/* Hamburger menu slut  */

.header {
  background-color: #E1DACF;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  display: flex;
  align-items: center;
  color: #000000;
  font-family: VAG Rounded Black SSi;
}

.header-content img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  
}

.header-content p {
  margin: 0;
}

.navbar {
  background-color: #F2ECE4;
  padding: 10px;
}

.mobile-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.logo {
  
  font-size: 20px;
}

.logo img {
  height: 100%; 
  max-height: 30px;
  margin-left: 15px;
}

.icons img,
.new-icon img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.desktop-nav {
  display: none;
}

.links a {
  color: #000000;
  text-decoration: none;
  margin: 0 30px;
  font-size: 25px;
  height: 55px;
  line-height: 55px; 
  font-family: VAG Rounded Black SSi;

}

.left-section {
  display: flex;
  align-items: center;
}

.icons {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-links {
  display: none;
  flex-direction: column;
}

.nav-links a {
  color: #000000;
  text-decoration: none;
  margin: 0 15px;
  font-size: 22px;
  height: 55px; 
  line-height: 55px; 
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  position: relative; 
  font-family: VAG Rounded Black SSi;
}

.nav-links a img {
  width: 20px; 
  height: auto; 
  margin-left: 10px; 
}

.nav-links.show {
  display: flex;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #F2ECE4;
  padding: 10px;
  border: 0;
}

.search-icon img {
  width: 20px;
  height: 20px;
}

.search-bar input {
  width: 100%;
  padding: 8px;
  margin-left: 10px; 
  background-color: #F2ECE4;
  border: 0px;
}


/* Hamburger menu slut */

/* Billede slider start*/

.slideshow {
  max-width: 4076px;
  position: relative;
  margin: auto;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.billedeslider {
  width: 100%;
}

/* Billede slider slut*/


.valg {
  margin-bottom: 0px;
  display: block;
}

.valgmobil {
  float: left;
  width: 50%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.produkter {
  float: left;
  padding: 0%;
  margin: 0% 0% 0% 0%;
  width: 100%;
}

.skrift {
  text-align: center;
  font-size: 22px;
  margin-top: 50px;
  margin-bottom: 15px;
  font-family: VAG Rounded Black SSi;
  
}


.fordele {
  background-color: #ebe3d9;
  display: inline-block;
  
}

.kasse {
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 50px;
}

.lastbil {
  margin-top: 0px;
  margin-bottom: 50px;
  margin-left: 25%;
  margin-right: 25%;
}

.banner1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.banner2 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 15px;
  margin-right: 15px;
}

.somevalg {
  width: 100%;
  max-width: 390px;
}

.billedepost {
  width: 100%;
  max-width: 390px;
}

.somemobil {
  float: left;
  width: 50%;
}

.slogan {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 40px;
  margin-right: 40px;

}



footer {
    background-color: #e1dace;
  }

.overskriftfooter {
    font-family: VAG Rounded Black SSi;
    display: inline-block;
    text-align: left;
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 15px;
    margin-left: 40px;
    margin-right: 40px;
    width: 310px;
    
}

.skriftfooter {
    font-family: VAG Rounded Black SSi;
    display: inline-block;
    text-align: left;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 40px;
    margin-right: 40px;
    width: 310px;
    
}

.skriftfooter2 {
  font-family: VAG Rounded Black SSi;
  display: inline-block;
  text-align: left;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
  width: 310px;
  
}

.skriftfooter3 {
  font-family: VAG Rounded Lt;
  display: inline-block;
  text-align: left;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
  width: 310px;
  font-weight: normal;
  
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #beb7ab;
  margin-left: 40px;
  margin-right: 40px;
}

.ikon {
  margin-top: 15px;
  margin-left: 40px;
  margin-right: 10px;
}

.ikon2 {
  margin-right: 10px;
  margin-top: 15px;
}

.footer4 {
  text-align: left;
  display: none;
  width: 207px;
}

.footer5 {
  text-align: left;
  display: none;
  width: 207px;
}

.valgtablet {
  display: none;
}

.valgdesk {
  display: none;
}

.banner1tablet {
  display: none;
}

.banner1desk {
  display: none;
}

.fordeletablet {
  display: none;
}

.fordeledesk {
  display: none;
}

.sometablet {
  display: none;
}

.somedesk {
  display: none;
}

@media only screen and (min-width: 768px) {

  
  .valg {
    margin-bottom: 0px;
    display: none;
  }

  .valgdesk {
    display: none;
  }  

  .valgtablet {
    margin-bottom: 0px;
    display: block;
  }

  .produktertablet {
    float: left;
    width: 25%;
  }

  .banner1 {
    display: none;
  }
  
  .banner1desk {
    display: none;
  }

  .banner1tablet {
    display: block;
  }

  .fordele {
  background-color: #ebe3d9;
  float: left;
  display: block;
  width: 100%;
  max-width: 1920px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}
  
.kasse {
  display: none;
}

.lastbil {
  display: none;
}

.fordeledesk {
  display: none;
}

.fordeletablet {
  display: flex;
  justify-content: space-evenly;
}

.kassetablet {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.lastbiltablet {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.somevalg {
  width: 100%;
  max-width: 4000px;
}

.billedepost {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.slogan {
  margin-top: 25px;
  margin-bottom: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.somemobil {
  display: none;
}

.somedesk {
  display: none;
}

.sometablet {
  display: flex;
  justify-content: space-evenly;
}

.overskriftfooter {
  font-family: VAG Rounded Black SSi;
  display: inline-block;
  text-align: left;
  font-size: 22px;
  margin-top: 40px;
  margin-bottom: 15px;
  margin-left: 0px;
  margin-right: 0px;
}

.skriftfooter {
  font-family: VAG Rounded Black SSi;
  display: inline-block;
  text-align: left;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  
}

.skriftfooter2 {
font-family: VAG Rounded Black SSi;
display: inline-block;
text-align: left;
font-size: 16px;
margin-top: 15px;
margin-bottom: 10px;
margin-left: 0px;
margin-right: 0px;

}

.skriftfooter3 {
font-family: VAG Rounded Lt;
display: inline-block;
text-align: left;
font-size: 16px;
margin-top: 0px;
margin-bottom: 10px;
font-weight: normal;
margin-left: 0px;
margin-right: 0px;

}

.footerrow {
  display: flex;
  justify-content: space-evenly;

}

.footer1 {
  text-align: left;
  width: 160px;

}

.footer2 {
  text-align: left;
  width: 160px;

}

.footer3 {
  text-align: left;
  width: 255px;

}

.footer4 {
  text-align: left;
  display: none;
  width: 207px;
}

.footer5 {
  text-align: left;
  display: none;
  width: 207px;
}

.ikon {
  margin-top: 15px;
  margin-left: 0px;
  margin-right: 10px;
}

.ikon2 {
  margin-right: 10px;
  margin-top: 15px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #beb7ab;
  margin-left: 0px;
  margin-right: 0px;
}

}


@media only screen and (min-width: 1600px) {
  
  
  /* Hamburger menu */

  .mobile-nav {
    display: none;
}

.desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
  background-color: #F2ECE4;
  padding: 10px;
  padding: 0 222px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 222px;
}

.header-content {
  display: flex;
  align-items: center;
}

.header-content img {
  margin-right: 10px;
}

.header-content p {
  margin: 0;
  color: #000000;
}

.header-texts {
  display: flex;
}

.header-texts p {
  color: #000000;
  margin: 0 15px;
  font-size: 16px;
}

.logo img {
  width: auto; 
  height: auto; 
  max-width: 130px; 
  width: 100%;
  max-height: 100%; 
  margin-top: 15px;

}




  /* Hamburger menu */

  .valg {
    margin-bottom: 0px;
    display: none;
  }

  .valgtablet {
    display: none;
  }

  .valgdesk {
    display: block;
    margin-left: 222px;
    margin-right: 222px;
  }  

  .produkterdesk {
    float: left;
    width: 25%;
  }

  .banner1 {
    display: none;
  }
  
  .banner1tablet {
    display: none;
  }

  .banner1desk {
    display: block;
  }

  .fordele {
    background-color: #ebe3d9;
    float: left;
    display: block;
    width: 100%;
    max-width: 4096px;
    padding-bottom: 50px;
    margin-bottom: 50px;
  }
    
  .kasse {
    display: none;
  }
  
  .lastbil {
    display: none;
  }
  
  .fordeletablet {
    display: none;
  }

  .fordeledesk {
    display: flex;
    justify-content: space-between;
    margin-left: 222px;
    margin-right: 222px;
  }


  .somevalg {
    width: 100%;
    max-width: 4000px;
  }
  
  .billedepost {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    border-radius: 20px;
  }


  .skrift {
    font-size: 30px;
  }

  .footerrow {
    display: flex;
    justify-content: space-between;
    padding-left: 222px;
    padding-right: 222px;
    z-index: 3;
  }

  .footer1 {
    text-align: left;
    width: 369px;
  
  }
  
  .footer2 {
    text-align: left;
    width: 369px;
  
  }

  .footer3 {
    text-align: left;
    width: 369px;
    display: none;
  
  }
  
  .footer4 {
    text-align: left;
    width: 369px;
    display: block;
  }
  
  .footer5 {
    text-align: left;
    width: 369px;
    display: block;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #beb7ab;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  
}